@using StudentUp.Models

@{
    ViewBag.Title = "AddMark";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Виставлення оцінок 
}

@section Style
{}

@{
    DB.ResponseTable resultResponseTable;
}

<form action="/AddMark" method="POST" accept-charset="ust-8">
    <select name="subject">
    @{
        Subject[] mySubjects = ViewData["mySubjects"] as Subject[];
        for (int i = 0, end = mySubjects.Length; i < end; i++)
        {
            <option value="@mySubjects[i].ID">@mySubjects[0].Name</option>
        }
    }
    </select>
    <select name="student">
        @{
            resultResponseTable = ViewData["myStudents"] as DB.ResponseTable;
            while (resultResponseTable.Read())
            {
                <option value="@resultResponseTable["Student_id"]">@resultResponseTable["Surname"] @resultResponseTable["Name"] @resultResponseTable["Second_name"]</option>
            }
        }
    </select>
    <input type="date" name="date"/>
    <input type="number" name="mark" placeholder="Оцінка"/>
    <input type="number" name="bonusMark" placeholder="Бонусні бали"/>
    <input type="number" name="maxMark" placeholder="максимальна оцінка"/>
    <select name="typeMark">
        @{
            string[] typeMarks = ViewData["typeMarks"] as string[];
            foreach (string item in typeMarks)
            {
                <option value="@item">@item</option>
            }
        }
    </select>
    <input type="submit" name="ADD" value="Виставити оцінку"/>
</form>

@section Script
{}
