@using StudentUp.Models

@{
    ViewBag.Title = "AddMark";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Виставлення оцінок 
}

@section Style
{}

@{
    int currentSubject = Convert.ToInt32(ViewData["currentSubject"]);
}

<form action="/AddMark" method="POST" accept-charset="ust-8">
    <select name="subject">
        @{
            Subject[] mySubjects = ViewData["mySubjects"] as Subject[];
            for (int i = 0, end = mySubjects.Length; i < end; i++)
            {
                <option value="@mySubjects[i].ID" @(currentSubject==mySubjects[i].ID?"selected":"")>@mySubjects[i].Name</option>
            }
        }
    </select>
    <select name="group">
    </select>
    <select name="student">
    </select>
    <input type="date" name="date"/>
    <input type="number" name="mark" placeholder="Оцінка"/>
    <input type="number" name="bonusMark" placeholder="Бонусні бали"/>
    <input type="number" name="maxMark" placeholder="максимальна оцінка"/>
    <select name="typeMark">
        @{
            string[] typeMarks = ViewData["typeMarks"] as string[];
            foreach (string item in typeMarks)
            {
                <option value="@item">@item</option>
            }
        }
    </select>
    <input type="submit" name="ADD" value="Виставити оцінку"/>
</form>

@section Script
{
    <script src="~/JS/jquery-2.1.1.min.js"></script>
    <script src="~/JS/AddMark.js"></script>
}
