@using StudentUp.Models;
@using StudentUp.Controllers;

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
    DB db = new DB();
    DB.ResponseTable resultResponseTable;
    DB.ResponseTable department = ViewData["departments"] as DB.ResponseTable;
    string[] typeEnum;
}

@section Title{
StudentUp - Add
}

@section Style{
    <link href="~/CSS/Admin.css" rel="stylesheet" type="text/css" />
}

<div class="messages">
    @{
        Messages messages = TempData["messages"] as Messages;
        if (messages != null)
        {
            foreach (Messages.Message item in messages)
            {
        <h3 style="color: @(item.Type == Messages.Message.TypeMessage.error ? "red" : "black");">@item.Value</h3>
            }
        }
    }
</div>

<label for="group">
    Додати групу
</label>
<input id="group" type="radio" name="typeAdd" value="group" checked="checked" />
<br />

<label for="student">
    Додати студента
</label>
<input id="student" type="radio" name="typeAdd" value="student" />
<br />

<label for="lecturer">
    Додати викладача
</label>
<input id="lecturer" type="radio" name="typeAdd" value="lecturer" />
<br />

<label for="subject">
    Додати предмет
</label>
<input id="subject" type="radio" name="typeAdd" value="subject" />
<br />

<label for="studentSubject">
    Встановити студентам предмети
</label>
<input id="studentSubject" type="radio" name="typeAdd" value="subject" />
<br />

<label for="selectElder">
    Встановити студентам групи старосту
</label>
<input id="selectElder" type="radio" name="typeAdd" value="subject" />
<br />

<div id="addGroup">
    <form action="/AddGroup" method="POST" accept-charset="utf-8">
        <input type="text" placeholder="Назва групи" name="name" />
        <select name="department">
            @{
                department.GoToStatrTable();
                while (department.Read())
                {
                    <option value="@department["Department_id"]">@department["Name"]</option>
                }
            }
        </select>
        <input type="submit" value="Додати групу" name="ADD" />
    </form>
    <p>Або ви можете додати водночас всіх студентів цієї групи завантаживши файл з інформацією про них</p>
    <p>Файл пофинен бути у форматі .xlsx (Excel) та мати наступну структуру: </p>
    <p>(Стовпці виділені червоним фоном повинні бути обов'язково заповенні. Черговість стовпців не повина змінюватись. Перший стовпець повинен бути в стовпці А. Якщо номер семестру не вказаний, то буде автоматично виставлений як перший семестр навчання. Якщо номер заліковки не вказан він буде присвоєн автоматично. Варіанти заповнення форми навчання: денна - бюджет, денна - контракт, заочна. Якщо форма навчання не вказана буде автоматично встановленна денна - бюджетна.)</p>
    <img src="~/Images/sample_file_with_students.PNG" />
    <form action="/AddGroupAndStudent" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
        <input type="text" placeholder="Name" name="name" />
        <select name="department">
            @{
                department.GoToStatrTable();
                while (department.Read())
                {
                <option value="@department["Department_id"]">@department["Name"]</option>
                }
            }
        </select>
        <input type="file" name="fileStudent" />
        <input type="submit" value="Додати групу" name="ADD" />
    </form>
</div>

<div id="addLecturer">
    <form action="/AddLecturer" method="POST" accept-charset="utf-8">
        <input type="text" name="surname" placeholder="Прізвище" />
        <input type="text" name="name" placeholder="Ім'я" />
        <input type="text" name="secondName" placeholder="По батькові" />
        <input type="text" name="email" placeholder="Email" />
        <label>
            Адміністратор
            <input type="checkbox" name="admin" />
        </label>
        <br />
        <input type="text" name="position" placeholder="Посада" />
        <input type="text" name="telephone" placeholder="Телефон" />
        <select name="department">
            @{
                department.GoToStatrTable();
                while (department.Read())
                {
                <option value="@department["Department_id"]">@department["Name"]</option>
                }
            }
        </select>
        <input type="submit" value="Додати викладача" name="ADD" />
    </form>
</div>

<div id="addStudent">
    <form action="/AddStudent" method="POST" accept-charset="utf-8">
        <input type="text" name="surname" placeholder="Прізвище" />
        <input type="text" name="name" placeholder="Ім'я" />
        <input type="text" name="secondName" placeholder="По батькові" />
        <input type="text" name="email" placeholder="Email" />
        <label>
            Адміністратор
        <input type="checkbox" name="admin" />
        </label>
        <br />
        <input type="text" name="telephone" placeholder="Телефон" />
        <select name="group">
            @{
                resultResponseTable = ViewData["groups"] as DB.ResponseTable;
                resultResponseTable.GoToStatrTable();
                while (resultResponseTable != null && resultResponseTable.Read())
                {
                <option value="@resultResponseTable["Group_id"]">@resultResponseTable["Name"]</option>
                }
            }
        </select>
        <input type="text" name="currentSemestr" placeholder="Семестр навчаня" />
        <input type="text" name="address" placeholder="Адреса" />
        <input type="text" name="recordBook" placeholder="Номер залікової книжки" />
        <select name="typeOfEducation">
            @{
                typeEnum = ViewData["typeEducation"] as string[];
                foreach (string item in typeEnum)
                {
                <option value="@item">@item</option>
                }
            }
        </select>
        <input type="text" name="contactsParents" placeholder="Контакти батьків" />
        <input type="text" name="employmentInTheDepartment" placeholder="Діяльність на кафедрі" />
        <input type="submit" value="Додати студента" name="ADD" />
    </form>
</div>

<div id="addSubject">
    <form action="/AddSubject" method="POST" accept-charset="utf-8">
        <input type="text" name="name" placeholder="Назва предмета" />
        <select name="lecturer">
            @{
                resultResponseTable = ViewData["lecturers"] as DB.ResponseTable;
                resultResponseTable.GoToStatrTable();
                while (resultResponseTable != null && resultResponseTable.Read())
                {
                <option value="@resultResponseTable["Lecturer_id"]">@resultResponseTable["Surname"] @resultResponseTable["Name"] @resultResponseTable["Second_name"]</option>
                }
            }
        </select>
        <select name="examType">
            @{
                typeEnum = ViewData["examType"] as string[];
                foreach (string item in typeEnum)
                {
                <option value="@item">@item</option>
                }
            }
        </select>
        <input type="submit" value="Додати предмет" name="ADD" />
    </form>
</div>

<div id="setSubjectForStudent">
    <form action="/SetSubjectForStudent" method="POST" accept-charset="utf-8">
        <select name="lecturer">
            @{
                resultResponseTable = ViewData["lecturers"] as DB.ResponseTable;
                resultResponseTable.GoToStatrTable();
                while (resultResponseTable != null && resultResponseTable.Read())
                {
                    <option value="@resultResponseTable["Lecturer_id"]">@resultResponseTable["Surname"] @resultResponseTable["Name"] @resultResponseTable["Second_name"]</option>
                }
            }
        </select>
        <select name="subjectID">
        </select>
        <select name="group">
            @{
                resultResponseTable = ViewData["groups"] as DB.ResponseTable;
                resultResponseTable.GoToStatrTable();
                while (resultResponseTable != null && resultResponseTable.Read())
                {
                    <option value="@resultResponseTable["Group_id"]">@resultResponseTable["Name"]</option>
                }
            }
        </select>
        <select name="students" multiple="multiple">
        </select>
        <input type="submit" value="Втановити предмет студентам" name="SET" />
    </form>
</div>

<div id="selectElder">
    <form action="/SelectElder" method="POST" accept-charset="utf-8">
        <select name="group">
            @{
                resultResponseTable = ViewData["groups"] as DB.ResponseTable;
                resultResponseTable.GoToStatrTable();
                while (resultResponseTable != null && resultResponseTable.Read())
                {
                    <option value="@resultResponseTable["Group_id"]">@resultResponseTable["Name"]</option>
                }
            }
        </select>
        <select name="elder">
        </select>
        <input type="submit" value="Встановити студентам групи старосту" name="selectElder"/>
    </form>
</div>

@section Script
{
    <script src="~/JS/jquery-2.1.1.min.js"></script>
    <script src="~/JS/Admin.js"></script>
}