@using StudentUp.Models;

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
    DB db = new DB();
    DB.ResponseTable resultResponseTable;
    DB.ResponseTable department = db.QueryToRespontTable("select * from Department;");
    string[] typeEnum;
}

@section Title{
    StudentUp - Add
}

@section Style{
    <link href="~/CSS/Admin.css" rel="stylesheet" type="text/css" />
}

<div class="messages">
    @{
        Messages messages = TempData["messages"] as Messages;
        if (messages != null)
        {
            foreach (Messages.Message item in messages)
            {
                <h3 style="color: @(item.Type == Messages.Message.TypeMessage.error ? "red" : "black");">@item.Value</h3>
            }
        }
    }
</div>

<label for="group">
    Group
</label>
<input id="group" type="radio" name="typeAdd" value="group" checked="checked"/>
<br/>

<label for="student">
    Student
</label>
<input id="student" type="radio" name="typeAdd" value="student"/>
<br/>

<label for="lecturer">
    Lecturer
</label>
<input id="lecturer" type="radio" name="typeAdd" value="lecturer"/>
<br/>

<label for="subject">
    Subject
</label>
<input id="subject" type="radio" name="typeAdd" value="subject"/>
<br/>

<form id="addGroup" action="/AddGroup" method="POST" accept-charset="utf-8">
    <input type="text" placeholder="Name" name="name"/>
    <select name="department">
        @{
            department.GoToStatrTable();
            while (department.Read())
            {
                <option value="@department["Department_id"]">@department["Name"]</option>
            }
        }
    </select>
    <select name="numberStudent">
        @for (int i = 1; i <= 50; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
    <input type="submit" value="ADD" name="ADD"/>
</form>

<form id="addLecturer" action="/AddLecturer" method="POST" accept-charset="utf-8">
    <input type="text" name="surname" placeholder="Surname"/>
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="secondName" placeholder="Secon name"/>
    <input type="text" name="email" placeholder="Email" />
    <label>
        Admin
        <input type="checkbox" name="admin"/>
    </label>
    <br/>
    <input type="text" name="position" placeholder="Position"/>
    <input type="text" name="telephone" placeholder="Telephone"/>
    <select name="department">
        @{
            department.GoToStatrTable();
            while (department.Read())
            {
                <option value="@department["Department_id"]">@department["Name"]</option>
            }
        }
    </select>
    <input type="submit" value="ADD" name="ADD"/>
</form>

<form id="addStudent" action="/AddStudent" method="POST" accept-charset="utf-8">
    <input type="text" name="surname" placeholder="Surname"/>
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="secondName" placeholder="Secon name"/>
    <input type="text" name="email" placeholder="Email" />
    <label>
        Admin
        <input type="checkbox" name="admin"/>
    </label>
    <br/>
    <input type="text" name="telephone" placeholder="Telephone"/>
    <select name="group">
        @{
            resultResponseTable = db.QueryToRespontTable("select * from Groups;");
            while (resultResponseTable.Read())
            {
                <option value="@resultResponseTable["Group_id"]">@resultResponseTable["Name"]</option>
            }
        }
    </select>
    <input type="text" name="currentSemestr" placeholder="Current semestr"/>
    <input type="text" name="address" placeholder="Address"/>
    <input type="text" name="recordBook" placeholder="Record book"/>
    <select name="typeOfEducation">
        @{
            resultResponseTable = db.QueryToRespontTable("show columns from Student like 'Type_of_education';");
            resultResponseTable.Read();
            typeEnum = ((string)resultResponseTable["Type"]).Replace("enum('", "").Replace("')", "").Replace("'", "").Split(',');
            foreach (string item in typeEnum)
            {
                <option value="@item">@item</option>
            }
        }
    </select>
    <input type="text" name="contactsParents" placeholder="Сontacts parents"/>
    <input type="text" name="employmentInTheDepartment" placeholder="Employment in the department"/>
    <input type="submit" value="ADD" name="ADD"/>
</form>

<form id="addSubject" action="/AddSubject" method="POST" accept-charset="utf-8">
    <input type="text" name="name" placeholder="Name subject"/>
    <select name="lecturer">
        @{
            resultResponseTable = db.QueryToRespontTable("select Lecturer_id, Name, Surname, Second_name from Lecturer;");
            while (resultResponseTable.Read())
            {
                <option value="@resultResponseTable["Lecturer_id"]">@resultResponseTable["Surname"] @resultResponseTable["Name"] @resultResponseTable["Second_name"]</option>
            }
        }
    </select>
    <select name="examType">
        @{
            resultResponseTable = db.QueryToRespontTable("show columns from Subject like 'Exam_type';");
            resultResponseTable.Read();
            typeEnum = ((string)resultResponseTable["Type"]).Replace("enum('", "").Replace("')", "").Replace("'", "").Split(',');
            foreach (string item in typeEnum)
            {
                <option value="@item">@item</option>
            }
        }
    </select>
    <input type="submit" value="ADD" name="ADD"/>
</form>

@section Script{
}