@using StudentUp.Models

@{
    ViewBag.Title = "Examination";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Екзаменування
}

@section Style
{
    <link href="~/CSS/Examination.css" rel="stylesheet" />
}

@{
    Users user = ViewData["user"] as Users;
}

<div class="messages">
    @{
        Messages messages = TempData["messages"] as Messages;
        if (messages != null)
        {
            foreach (Messages.Message item in messages)
            {
                <h3 style="color: @(item.Type == Messages.Message.TypeMessage.error ? "red" : "black");">@item.Value</h3>
            }
        }
    }
</div>

<label for="attestation">
    Атестації
</label>
<input id="attestation" type="radio" name="typeExam" value="attestation" checked="checked" />
<br />

<label for="session">
    Сесія
</label>
<input id="session" type="radio" name="typeExam" value="attestation"/>
<br />

<div id="myAttestation">
    <select name="numberAttestation">
        <option value="1">Перша атестація</option>
        <option value="2">Друга атестація</option>
    </select>
    <select name="subjectAttestation">
        <option value='-1'>Усі</option>
        @{
            Subject[] mySubjects = ViewData["mySubjects"] as Subject[];
            for (int i = 0, end = mySubjects.Length; i < end; i++)
            {
                <option value="@mySubjects[i].ID">@mySubjects[i].Name</option>
            }
        }
    </select>
    @if (user.Type == Users.UserType.Lecturer)
    {
        <select name="groupAttestation">
        </select>
    }
    <input type="button" name="showAttestation" value="Показати атестації"/>
    
    <div class="myAttestation"></div>
</div>

<div id="mySession">
    <select name="typeSession">
        <option value="іспит">Сесія</option>
        <option value="пересдача1">Перша пересдача</option>
        <option value="пересдача2">Друга пересдача</option>
    </select>
    <select name="subjectSession">
        @{
            mySubjects = ViewData["mySubjects"] as Subject[];
            for (int i = 0, end = mySubjects.Length; i < end; i++)
            {
                <option value="@mySubjects[i].ID">@mySubjects[i].Name</option>
            }
        }
    </select>
    @if (user.Type == Users.UserType.Lecturer)
    {
        <select name="groupSession">
        </select>
    }
    <input type="button" name="showSession" value="Показати результати сесії"/>
    
    <div class="mySession"></div>
</div>

@section Script
{
    <script src="~/JS/jquery-2.1.1.min.js"></script>
    @if (user.Type == Users.UserType.Lecturer)
    {
        <script src="~/JS/ExaminationLecturer.js"></script>
    }
    else
    {
        <script src="~/JS/ExaminationStudent.js"></script>
    }
}
