@using StudentUp.Models

@{
    ViewBag.Title = "MyMark";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Мої оцінки
}

@section Style
{
    
}

@{
    Users user = ViewData["user"] as Users;
    Marks[] myMarks = ViewData["myMarks"] as Marks[];
    if (myMarks != null)
    {
        if (user.Type == Users.UserType.Student)
        {
            <table border="1" cellspacing="0">
                <tr>
                    <th>Предмет</th>
                    <th>Викладач</th>
                    <th>Дата</th>
                    <th>Оцінка</th>
                    <th>Бонісні бали</th>
                    <th>Максимальна оцінка</th>
                    <th>Тип оцінки</th>
                </tr>
                @{
                    for (int i = 0, end = myMarks.Length; i < end; i++)
                    {
                        Subject currentSubject = new Subject(myMarks[i].SubjectID);
                        currentSubject.GetInformationAboutUserFromDB();
                        Lecturer currentLecturer = new Lecturer(currentSubject.LecturerID);
                        currentLecturer.GetInformationAboutUserFromDB();
                        <tr>
                            <td>@currentSubject.Name</td>
                            <td>@currentLecturer.FullName</td>
                            <td>@myMarks[i].Date.ToShortDateString()</td>
                            <td>@myMarks[i].Mark</td>
                            <td>@myMarks[i].BonusMark</td>
                            <td>@myMarks[i].MaxMark</td>
                            <td>@Marks.GetEnumDescription(myMarks[i].TypeMark)</td>
                        </tr>
                    }
                }
            </table>
        }

        if (user.Type == Users.UserType.Lecturer)
        {
            <table border="1" cellspacing="0">
                <tr>
                    <th>Предмет</th>
                    <th>Студент</th>
                    <th>Дата</th>
                    <th>Оцінка</th>
                    <th>Бонісні бали</th>
                    <th>Максимальна оцінка</th>
                    <th>Тип оцінки</th>
                </tr>
                @{
                    for (int i = 0, end = myMarks.Length; i < end; i++)
                    {
                        Student currentStudent = new Student(myMarks[i].StudentID);
                        currentStudent.GetInformationAboutUserFromDB();
                        Subject currentSubject = new Subject(myMarks[i].SubjectID);
                        currentSubject.GetInformationAboutUserFromDB();
                        <tr>
                            <td>@currentSubject.Name</td>
                            <td>@currentStudent.FullName</td>
                            <td>@myMarks[i].Date.ToShortDateString()</td>
                            <td>@myMarks[i].Mark</td>
                            <td>@myMarks[i].BonusMark</td>
                            <td>@myMarks[i].MaxMark</td>
                            <td>@Marks.GetEnumDescription(myMarks[i].TypeMark)</td>
                        </tr>
                    }
                }
            </table>
        }
    }
    else
    {
        <h3>У вас покищо немає оцінок</h3>
    }

    if (user.Type == Users.UserType.Lecturer)
    {
        <a href="/AddMark">Поставити оцінку</a>
    }
}

@section Script
{
    
}
