@using StudentUp.Models

@{
    ViewBag.Title = "PersonalData";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Персональні дані
}

@section Style
{}

<h2>Персональні дані</h2>

@{
    Users user = ViewData["user"] as Users;
}
<form action="@(user.Type==Users.UserType.Student?"/EditStudent":"/EditLecturer")" method="POST" accept-charset="utf-8">
    @if (user.AccessLevel == 2)
    {
        <p>Ви є адміністратором нашої системи. Ми вдячні за вашу допомогу.</p>   
    }
    <input type="text" name="surname" value="@(user as Student != null ? ((Student)user).Surname : ((Lecturer)user).Surname)" placeholder="Прізвище"/>
    <input type="text" name="name" value="@(user as Student != null ? ((Student)user).Name : ((Lecturer)user).Name)" placeholder="Ім'я"/>
    <input type="text" name="secondName" value="@(user as Student != null ? ((Student)user).SecondName : ((Lecturer)user).SecondName)" placeholder="По батькові"/>
    <br/>
    <input type="text" name="telephone" value="@(user as Student != null ? ((Student)user).Telephone : ((Lecturer)user).Telephone)" placeholder="Телефон"/>
    <p>Email: @user.Email <a href="/ChangeEmail">Змінити email</a></p>
    <p><a href="/ChangePassword">Змінити пароль</a></p>
    @if (user.Type == Users.UserType.Lecturer)
    {
        <p>Ваша посада: @(((Lecturer)user).Position)</p>
    }
    else
    {
        Student student = (Student)user;
        <p>Ви навчаєтесь на @(student.CurrentSemester/2) курсі (@student.CurrentSemester семестр)</p>
        <p>Ваша залікова книжка: @student.RecordBook</p>
        <p>Тип навчання: @student.TypeEducetion</p>
        <input type="text" name="address" value="@student.Address" placeholder="Адреса"/>
        <br/>
        <input type="text" name="contactsParents" value="@student.ContactsParents" placeholder="Контакти батьків"/>
        if (student.EmploymentInTheDepartment != "")
        {
            <p>Ви берете участь у житті кафедри: @student.EmploymentInTheDepartment</p>
        }
    }
    <input type="submit" name="CHENGE" value="Змінити"/>
</form>

@section Script
{}
