@using StudentUp.Models;

@{
    Layout = null;
    Users user = ViewData["user"] as Users;
    int typePage = 0;
    switch((string)ViewBag.Title)
    {
        case "Home":
            typePage = 0;
            break;
        case "PersonalData":
            typePage = 1;
            break;
        case "Admin":
            typePage = 2;
            break;
        case "MySubject":
            typePage = 3;
            break;
        case "MyMark":
            typePage = 4;
            break;
        case "AddMark":
            typePage = 4;
            break;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title", true)</title>
    <link href="~/Images/icon.png" rel="shortcut icon" type="image/png" />
    <link href="~/CSS/all.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/StyleHomeMasterPage.css" rel="stylesheet" type="text/css" />
    @RenderSection("Style", true)
</head>
<body>
    <div class="b-menu">
        <a href="/Home" class="logo element">
            <span class="icon"></span>
            <span class="name">StudentUp</span>
        </a>
        <a href="/PersonalData" class="userInfo element @(typePage == 1? "action" : "")">
            <span class="icon">
                <img src="~/Images/avatar_male.png" />
            </span>
            <span class="name">
                @(user as Student != null ? ((Student)user).Name : ((Lecturer)user).Name)
            </span>
        </a>
        <a href="/MySubject" class="subject element @(typePage == 3? "action" : "")">
            <span class="icon"></span>
            <span class="name">Мои предметы</span>
        </a>
        <a href="/MyMark" class="graph element @(typePage == 4? "action" : "")">
            <span class="icon"></span>
            <span class="name">Мои оценки</span>
        </a>
        @if (user.AccessLevel == 2)
        {
            <a href="/Admin" class="add element @(typePage == 2? "action" : "")">
                <span class="icon"></span>
                <span class="name">Администрирование</span>
            </a> 
        }
        <a class="exit element" href="/Exit">
            <span class="icon"></span>
            <span class="name">Выход</span>
        </a>
    </div>

    <div class="b-content">
        <div class="content">
            @RenderBody()
        </div>
        <div class="b-footer">
            <a href="#">Поддержка</a>
            <a href="#">Об авторах</a>
            <p>Все права защищены НТУУ КПИ.  &copy; 2014</p>
        </div>
    </div>
</body>
<script type="text/ecmascript" src="~/JS/all.js"></script>
@RenderSection("Script", true)
</html>
